*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    margin-left: 0;
}

ul li{
    list-style: none;
}

ul li input[type="text"]{
    width: 380px;
    border-radius: 6px;
    padding: 5px;
}

button{
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 200px;
    background-color: rgb(253, 156, 173);
}

button[type="button"]:hover{
    background-color: azure;
    color: rgb(251, 109, 132);
}

